@import "~antd/dist/antd.css";
li {
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: black;
}
ul {
  padding-left: 0px;
}
.container {
  display: flex;
  width: 85%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
