li{
  list-style-type: none;
  
}
li a{
  text-decoration: none;
  color: black;
}
ul{
  padding-left: 0px;
}
.container{
  display: flex;
  width:85%;
  margin: 0 auto;
  background-color:#ff6600;
  align-items: center;
  justify-content: center;
}
.logo{
  padding: 3px;
  margin: 2px;
  border: 1px white solid;
  color: white !important; 
}
.title{
  padding: 5px;
  font-weight: bolder;
}
.tabs{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.tab{
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  border-left: 1px black solid;
}
.login{
  margin-right: 5px;
}